doctype 5
//- if lt IE7
html.ie6(lang='es', xmlns:fb='http://ogp.me/ns/fb#')
//- if IE 7
html.ie7(lang='es', xmlns:fb='http://ogp.me/ns/fb#')
//- if IE 8
html.ie8(lang='es', xmlns:fb='http://ogp.me/ns/fb#')
//- if IE 9
html.ie9(lang='es', xmlns:fb='http://ogp.me/ns/fb#')
//- [if (gt IE 9)|!(IE)] <!
html(lang='es', xmlns:fb='http://ogp.me/ns/fb#')
	//-  <![endif]
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		title(content="Titulo de la web a trabajar")
		meta(name="title", content="Titulo de la web a trabajar")
		meta(name="description", content="Descripcion de 150 caracteres")
		meta(name="keywords", content="keywords")
		meta(name="author", content="autor")
		meta(name="viewport", content="width=device-width")
		meta(name="language", content="es")
		meta(name="robots", content="index,follow")

		meta(name="geo.region", content="PE-LIM")
		meta(name="geo.placename", content="Cercado de Lima")
		meta(name="geo.position", content="-12.0478;-77.0622")
		meta(name="ICBM", content="-12.0478, -77.0622")

		meta(property="og:title", content="Titulo de la web a trabajar")
		meta(property="og:description", content="Descripcion de 150 caracteres")
		meta(property="og:image", content="img/logo.jpg")
		link(href="img/logo.jpg", rel="image_src", type="image/jpeg")

		//- Favicon
		link(href="img/favicon.ico", rel="icon", type="image/vnd.microsoft.icon")
		link(href="img/favicon.ico", rel="shortcut icon", type="image/x-icon")

		meta(name="DC.Title", content="Titulo de la web a trabajar")
		meta(name="DC.Creator", content="Nombre de la web")
		meta(name="DC.Description", content="Descripcion de 150 caracteres")
		meta(name="DC.Publisher", content="Nombre de la web")
		meta(name="DC.Contributor", content="opcional")
		meta(name="DC.Language", content="es")

		//- Insertamos nuestros archivos .js si nuestro navegador es menor que IE9
		//- if lt IE 9
			script(type='text/javascript', src='js/libs/html5shiv.js?v=version')
			script(type='text/javascript', src='js/libs/selectivizr.js?v=version')

		//- Insertamos nuestro .css
		link(href='css/layout.css?v=version', rel='stylesheet', type='text/css')

		//- Open graph
		meta(property='og:title', content='Titulo de la web a trabajar')
		meta(property='og:description', content='Descripcion de 150 caracteres')
		meta(property='og:image', content='img/logo.jpg')

		//- Favicon
		//- link(rel='apple-touch-icon', href='img/favicon-iphone.png')
		link(href="favicon.ico", rel="icon", type="image/vnd.microsoft.icon")
		link(href="favicon.ico", rel="shortcut icon", type="image/x-icon")
	body
		header			
			.wrapper_landing HEADER: aquí colocamos contenido del header, incluye los nav, es decir el menu.

		article
			.wrapper_landing
				p CONTENT: aquí ponemos todo el contenido de la sección
				form(action="POST", class="frm_validate", id="frmValidate", name="frmValidate")
					.form_control
						label(for="txtName") Nombre
						input(type="text", name="txtName", id="txtName", placeholder="Ingrese su Nombre")
					.form_control
						label(for="txtLastName") Apellidos
						input(type="text", name="txtLastName", id="txtLastName", placeholder="Ingrese sus Apellidos")
					.form_control
						label(for="txtEmail") Email
						input(type="email", name="txtEmail", id="txtEmail", placeholder="Ingrese su Correo Electrónico")
					.form_control
						label(for="txtDni") DNI
						input(type="tel", name="txtDni", id="txtDni", placeholder="Ingrese su número de DNI")
					.form_control
						button(type="submit", id="sbmSend", class="btn", title="Enviar") Enviar
		footer 
			.wrapper_landing FOOTER: nuestro pie de pagina, créditos etc
		script(src="js/jquery-1.9.0.js")
		script(src="js/jqTipsy-min.js")
		script(src="js/jquery.validate.min.js")
		script(src="js/script.js")


	
